 *{
    margin: 0;
}
.hed1{
    height: 12vh;
    width: 100%;
    background-color: black;
    opacity: .9;
    padding: 1px;
}
.logo{
    margin-left: 40px;
    margin-top: 10px;
}
.hed2{
    color: orange;
    list-style: none;
    margin-left: 650px;
    margin-top: -40px;
}
.hed2>li{
    float: left;
    margin-left: 50px;
    font-size: 23px;
    cursor: pointer;
}
.hed2>li:hover {
    color: yellow;
}
.hed3{
    height: 550px;
    background-image: url("slider.jpg");
    background-size: 100% 100%;
    width: 100%;
}
.hed4{
    height: 100%;
    background-color: black;
    width: 100%;
    opacity: .7;
    padding: 1px;
}
.hed5{
    color:white;
    margin-top: 50px;
    font-size: 22px;
    margin-left: 500px;
}
.hed6{
    color:orange;
    font-size: 48px;
    margin-top: 40px;
margin-left: 365px;
}
.hed7{
    color:white;
    font-size: 58px;
    margin-top: 25px;
margin-left: 285px;
}
.hed8{
    color:white;
    margin-top: 50px;
/* margin-left: 160px; */
text-align: center;

}
.hed9{
    background-color: orange;
    color: white;
    border-radius:50px;
    width: 15%;
    height: 55px;
    margin-top: 50px;
    margin-left: 400px;
    cursor: pointer;
    outline: none;
    
}
.hed9:hover{
    color:grey;
    background-color: yellow;
    
}
.hed10{
    background-color: orange;
    color: white;
    border-radius:50px;
    width: 17%;
    height: 55px;
    margin-top: 48px;
    margin-left: 50px;
    cursor: pointer;
    outline: none;
    
}
.hed10:hover{
    color:grey;
    background-color: yellow;
    
}
.hed11{
    height: 500px;
    width: 48%;
    border: 1px solid white ;
    float: left;
}
.hed12{
    color: yellow;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 40px;
}
.hed13{
    color: grey;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.hed14{
    color: grey;
    margin-left: 60px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.hed15{
    height: 420px;
    width: 51.5%;
    border: 1px solid white ;
    float: left;
}
.hed16{
    height: 100%;
    width: 100%;
    background-image: url(about.png);
    background-size: 100% 100%;
}
.hed17{
    height: 100%;
    width: 37%;
    background-image: url(man.png);
    margin-left:250px ;
    margin-top: -420px;
}
.hed19{
    color: blue;
    margin-left: 540px;
    margin-top:520px ;

}
.hed20{
    color: orange;
    margin-left: 50px;
    text-align: center;
    font-size: 20px;
}
.hed21{
    width: 250px;
    height: 250px;
    border: 1px solid white ;
    border-radius: 50%;
    background-image: url(aaa.png);
    background-size: 100%;
    margin-left: 130px;
    margin-top:80px ;
}
.hed22{
    width: 250px;
    height: 250px;
    border: 1px solid white ;
    border-radius: 50%;
    margin-left: 600px;
    margin-top:-252px ;
    background-image: url(aaa.png);
    background-size: 100%;
}
.hed23{
    width: 250px;
    height: 250px;
    border: 1px solid white ;
    border-radius: 50%;
    margin-left: 1050px;
    margin-top:-252px ;
    background-image: url(aaa.png);
    background-size: 100%;
}
.hed24{
    width: 300px;
    height: 100px;
    border: 1px solid white;
    margin-top: 20px;
margin-left: 100px;
}
.hed25{
    text-align: center;
    font-size: 25px;

}
.hed26{
    text-align: center;
    margin-top: 10px;
}
.hed27{
    width: 300px;
    height: 100px;
    border: 1px solid white;
    margin-top: -102px;
margin-left: 580px;
}
.hed28{
    text-align: center;
    font-size: 25px;

}
.hed29{
    text-align: center;
    margin-top: 10px;
}
.hed30{
    width: 300px;
    height: 100px;
    border: 1px solid white;
    margin-top: -102px;
margin-left: 1030px;
}
.hed31{
    text-align: center;
    font-size: 25px;

}
.hed32{
    text-align: center;
    margin-top: 10px;
}
.hed33{
    width: 300px;
    height: 40px;
    border: 1px solid white;
    margin-top: 5px;
margin-left: 580px;
}
.hed34{
    text-align: center;
    color: orange;
}
.hed35{
    height: 500px;
    width: 32%;
    border: 1px solid white;
    background-image: url(service.jpg);
    float: left;
    background-size: 100% 100%;
}
.hed36{
    height: 250px;
    width: 29.5%;
    border: 1px solid white;
    float: left;
    margin-left: 50px;
    background-image: url(service2.jpg);
    margin-top: 10px;
}
.hed37{
    height: 250px;
    width: 29.5%;
    border: 1px solid white;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    background-image: url(service3.jpg);
}
.hed38{
    height: 100px;
    width: 29.5%;
    border: 1px solid white;
    margin-left: 484px;
    margin-top: 290px;
}
.hed39{
    color: blue;
    font-size: 17px;
}
.hed40{
    color: blue;
    font-size: 17px;
    margin-top: 10px;
}
.hed41{
   background-color: orange;
   height: 35px;
   margin-left: 50px;
   margin-top: 75px;
   border-radius: 50px;
   width: 140px;
   outline: none;
}
.hed41:hover{
    background-color: cadetblue;
}
.hed42{
    height: 100px;
    width: 29.5%;
    border: 1px solid white;
    margin-left: 934px;
    margin-top: -212px;
}
.hed43{
    color: blue;
    font-size: 17px;
}
.hed44{
    color: blue;
    font-size: 17px;
    margin-top: 10px;
}
.hed45{
    background-color: orange;
    height: 35px;
    margin-left:493px;
    margin-top: 75px;
    border-radius: 50px;
    width: 140px;
    outline: none;
 }
 .hed45:hover{
    background-color: cadetblue;
}
.hed46{
    height: 650px;
    width: 100%;
    border: 1px solid orange;
    margin-top: 20px;
    background-color: orange;
}
.hed47{
    color:white;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
}
.hed48{
    color: white;
    text-align: center;
}
.hed49{
    height: 55px;
    width: 125px;
    background-color: cornflowerblue;
    margin-left: 335px;
    margin-top: 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid blue;
    color: white;

}
.hed49:hover{
    background-color: greenyellow;
}
.hed50{
    height: 55px;
    width: 125px;
    background-color: cornflowerblue;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid blue;
    color: white;

}
.hed50:hover{
    background-color: greenyellow;
}
.hed51{
    height: 55px;
    width: 125px;
    background-color: cornflowerblue;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid blue;
    color: white;

}
.hed51:hover{
    background-color: greenyellow;
}
.hed52{
    height: 55px;
    width: 125px;
    background-color: cornflowerblue;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid blue;
    color: white;

}
.hed52:hover{
    background-color: greenyellow;
}
.hed53{
    height: 55px;
    width: 125px;
    background-color: cornflowerblue;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 50px;
    outline: none;
    border: 2px solid blue;
    color: white;
}
.hed53:hover{
    background-color: greenyellow;
}
.hed54{
    height: 400px;
    width: 41%;
    border: 1px solid orange;
    margin-left: 40px;
    margin-top: 50px;
    background-image: url(highlit.jpg);
    float: left;
}
.hed55{
    height: 180px;
    width: 25%;
    border: 1px solid orange;
    margin-left: 40px;
    margin-top: 50px;
    float: left;
    background-image: url(im2.jpg);
    background-size: 100% 100%;
}
.hed56{
    height: 180px;
    width: 25%;
    border: 1px solid orange;
    margin-left: 400px;
    margin-top: -185px;
    float: left;
    background-image: url(im3.jpg);
    background-size: 100% 100%;
}
.hed57{
    height: 180px;
    width: 25%;
    border: 1px solid orange;
    margin-left: 40px;
    margin-top: 35px;
    float: left;
    background-image: url(im4.jpg);
    background-size: 100% 100%;
}
.hed58{
    height: 180px;
    width: 25%;
    border: 1px solid orange;
    margin-left: 400px;
    margin-top: -185px;
    float: left;
    background-image: url(im5.jpg);
    background-size: 100% 100%;
}
.hed59{
    height: 600px;
    width: 100%;
    border: 1px solid white;
}
.hed60{
    text-align: center;
    color: gray;
    margin-top: 10px;
    font-size: 40px;
}
.hed61{
    text-align: center;
    color: gray;
    margin-top: 10px;
}
.hed62{
    width: 27%;
    height: 270px;
    background-color:lightgrey ;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 40px;
    padding: 1px;
}
.hed63{
    color: black;
    margin-top: 20px;
    font-size: 22px;
    margin-left: 20px;
}
.hed64{
    width: 27%;
    height: 270px;
    background-color:lightgrey ;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: -272px;
    padding: 1px;
}
.hed65{
    color: black;
    margin-top: 20px;
    font-size: 22px;
    margin-left: 20px;
}
.hed66{
    width: 27%;
    height: 270px;
    background-color:lightgrey ;
    border-radius: 30px;
    margin-left: 970px;
    margin-top: -272px;
    padding: 1px;
}
.hed67{
    color: black;
    margin-top: 20px;
    font-size: 22px;
    margin-left: 20px;
}
.hed68{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: 50px;
    background-image: url(c1.png);
    background-size: 100% 100%;
}
.hed69{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 620px;
    margin-top: -102px;
    background-image: url(c2.png);
    background-size: 100% 100%;
}
.hed70{
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 1090px;
    margin-top: -102px;
    background-image: url(c1.png);
    background-size: 100% 100%;
}
.hed71{
    height: 30px;
    width:150px ;
    border: 1px solid white;
    margin-left: 150px;
}
.hed72{
    color: grey;
    font-size: 20px;
}
.hed73{
    height: 30px;
    width:150px ;
    border: 1px solid white;
    margin-left: 630px;
    margin-top: -32px;
}
.hed74{
    color: grey;
    font-size: 20px;
}
.hed75{
    height: 30px;
    width:150px ;
    border: 1px solid white;
    margin-left: 1090px;
    margin-top: -32px;
}
.hed76{
    color: grey;
    font-size: 20px;
}
.hed77{
    height: 200px;
    width: 100%;
    background-color: yellow;
    padding: 1px;
}
.hed78{
    height: 100px;
    width: 40%;
    border: 1px solid yellow;
    margin-top: 50px;
    margin-left:50px ;
}
.hed79{
    font-size: 40px;
}
.hed80{
    font-size: 20px;
    margin-top: 0px;
}
.hed81{
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    background-image: url(adad.png);
    background-size: 100% 100%;
}
.hed82{
    background-color: blue;
    color: white;
    border-radius:50px;
    width: 30%;
    height: 40px;
    /* margin-top: 50px; */
    margin-left: 1075px;
    margin-top: -5px;
    outline: none;
    border: blue;
    font-size: 16px;
}
.hed82:hover{
    background-color: mediumvioletred;
    border: 2px solid blue;
}